{% extends 'core/base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock styles%}


{% block main %}

<main>

    <div class="product_slider">

        {% for product in products %}

        <div class="product_item">

            <div class="product_image_wrapper">
                <img class="product_image" src="{{ product.image.image.url }}" alt="#">
            </div>

            <div class="product_information_wrapper">

                <a class="product_link" href="{% url 'product_instance' product.product.pk %}">
                    <h2 class="product_title">
                        {{ product.product.title }}
                    </h2>
                </a>
                <p class="product_short_description">
                    {{ product.product.description|slice:":80" }}
                </p>

                <div class="price_wrapper">

                    {{ product.product_variant.get_current_price }}
                    <a href="{% url 'add_to_cart' product.product.pk %}" class="btn_add_to_cart">В корзину</a>

                </div>


            </div>

        </div>

        {% endfor %}

    </div>
    <div class="categories">

        <div class="categories_wrapper">
            {% for category in categories %}

            <div class="category_item
            {% if category.large %}
            category_item_large
            {% else %}
            category_item_normal
            {% endif %}
             orange_gradient">
                <a href="{% url 'products_list_category_filter' category.pk %}" class="category_link"></a>
                <div class="category_description">
                    <div class="category_description_wrapper">
                        <h3 class="category_title">
                            {{ category.title }}
                        </h3>
                        <p class="category_description_text">
                            {{ category.description }}
                        </p>
                    </div>

                </div>
                <div class="category_item_image"
                     style="background-image: url({{ category.image.url }}); background-position: center center; background-size: cover;"></div>
            </div>

            {% endfor %}


        </div>

    </div>
</main>

{% endblock main %}
